<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Aplikasi Android
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="../../assets/gambar/monas.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Destination</ion-card-subtitle>
      <ion-card-title>Monas, Jakarta</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Monumen Nasional atau yang populer disingkat dengan Monas atau Tugu Monas adalah monumen peringatan setinggi 132
      meter yang didirikan untuk mengenang perlawanan dan perjuangan rakyat Indonesia untuk merebut kemerdekaan dari
      pemerintahan kolonial Hindia Belanda.
    </ion-card-content>
  </ion-card>
</ion-content>